<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>POST Request API:</h1>
    <p>/visitor/checkin      (to send new visitor data to backend)</p>
    <p>/visitor/checkout     (to send visitor checkout detail to backend)</p>
    <p>/host/in      (to send new host detail to backend)</p>
    <h1>GET Request API:</h1>

      <p>/visitor/checkin      (to get all current checkin visitor)</p>
    <p>  /host/in      (to get all register host)</p>
    <p>/all      (to get all visitor that already checkout)</p>
  </body>
</html>
